<!DOCTYPE html>
<html>
  <head>
    <title>El Santuario</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/signin.css">
    <link rel="stylesheet" href="/stylesheets/carrusel.css">
    <link rel="stylesheet" href="/stylesheets/perfil.css">
    <link rel="stylesheet" href="/stylesheets/chat.css">
    <link rel="stylesheet" href="/stylesheets/noticias.css">
    <link rel="stylesheet" href="/stylesheets/moderacion.css">
    <link rel="stylesheet" href="/stylesheets/usuarios.css">
    <link rel="stylesheet" href="/stylesheets/modBatallas.css">
    <link rel="stylesheet" href="/stylesheets/eventos.css">
    
  </head>
  <body >
    <!------------ Barra de Navegaci贸n ------>
<div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">El Santuario</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Indice</a></li>
                    <% if(user) {%>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Acciones <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                    <% if(user.range >= 4) {%>
                <li>
                  <a href="#" id="administracion">Administraci贸n</a>
                </li>
                <li>
                  <a href="#" id="Smoderacion">SuperModeraci贸n</a>
                </li>
                <li>
                  <a href="" id="moderacion">Moderaci贸n</a>
                </li>
                    <% } %>
                    <% } %>
              </ul>
               <ul class="nav navbar-nav navbar-right">
                    <% if (user) { %>
                        <li><a href='JavaScript:void(0);' class='dropdown-toggle' data-toggle='dropdown' id='profile'><%= user.user_id %><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" class="perfil"><span class="glyphicon glyphicon-user">Perfil</span></a></li>
                                <li><a href="/desconectar"><span class="glyphicon glyphicon-log-out">Desconectar</span></a></li>
                            </ul>
                        </li>
                    <% } else { %>
                        <li><a href="/conectar" id="login"><span class="glyphicon glyphicon-log-in"> Conectar</span></a></li>
                        <li><a href="/registrar" class="login" id="register"><span class="glyphicon glyphicon-user">Registrar</span></a></li>
                    <% } %>
                </ul>
            </div>
          </div>
        </nav>


    </div>
<div class="textoFlotante">
    <img src="/images/cerrar.png" class="error close img-responsive">
    <div class="textoFlotanteTxt alerta"></div>
</div>

      

    <%- body %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/prueba.js"></script>
    <script src="/javascripts/selector_web.js"></script>
    <script src="/javascripts/handlebars.js"></script>
    <script src="/javascripts/docs.js"></script>
    <script src="/editor/whizzywig63.js"></script>
    <script src="/editor/espanol.js"></script>

    <script>
    $('.dropdown-toggle').dropdown();
                     <% if (user) { %>
var usuario = new Object();
    usuario.user_id = "<%= user.user_id %>";
    usuario.mail = "<%= user.mail %>";
    usuario.created_at = "<%= user.created_at %>";
    usuario.badges = "<%= user.badges %>";
    usuario.range = "<%= user.range %>";
    usuario.bando = "<%= user.bando %>";
    usuario.avatar = "<%= user.avatar %>";
    usuario.characters = "<%= user.characters %>";
    <% } else {%>
var usuario = null;
     <% } %>   
    $('[data-toggle="popover"]').popover({trigger: 'hover', 'placement': 'left'});
    </script>
   
  
  </body>
</html>